doctype html
html
 head
  
  <!-- Prevent search engines from indexing -->
  <meta name="robots" content="noindex, nofollow">
  link(rel='stylesheet', href='/stylesheets/main.css')

  <!-- Libraries -->
  <link href="/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--<script src="https://kit.fontawesome.com/a7f2393e3e.js" crossorigin="anonymous"></script>-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  script.
    
    //used for the local owner's hyperlink 
    var url = #{url}

    //the alias the local owner has given himself in config.json
    var alias = #{alias}

    //JSON peers list
    var peers = #{peers}

    //the port the app is running on from config.json
    var port = #{port}

    //ngrok url of the requestor
    var request = #{request}

    //Group?
    var group = #{group}

    //qauth tokens
    var authToken;
    var accessToken;
    var data;

  <!-- UI Modules -->
  script(src="/js/UI/request.js")
  script(src="/js/UI/local.js")
  script(src="/js/UI/post.js")
  script(src="/js/UI/messages.js")
  script(src="/js/UI/profile.js")
  script(src="/js/UI/options.js")
  script(src="/js/UI/peers.js")

  <!-- functional modules -->
  script(src="/js/func/debounce.js")
  script(src="/js/func/feed.js")  
  script(src="/js/func/xss.js")  
  script(src="/js/func/htmlTemplates.js")
  script(src="/js/func/sanitation.js")
  
  <!-- Run this before anything else to get it out of the way -->
  script.
    sendQueuedMessages()

      
 body
  block content
        